<!-- myapp/templates/login.html -->
<!DOCTYPE html>
{% load static tailwind_tags %}

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    {% tailwind_css %}

</head>

<body>

    <header
        class="flex items-center justify-between w-full md:px-20 md:py-4 z-10 text-white px-4 py-4 backdrop-filter backdrop-blur-lg bg-black/50 bg-opacity-60 ">
        <div class="flex items-end space-x-1 justify-center ">
            <img src="{% static 'images/logos/logo-unap.png' %}" alt="logo unap" class="h-17">
            <img src="{% static 'images/logos/logo-cimac.png' %}" alt="logo cimac 2025" class="h-17 ml-2">
        </div>

        <nav class="flex items-center md:text-md sm:text-sm">
            <a href="/" class="p-2 hover:bg-black/50 cursor-pointer">INICIO</a>
        </nav>
    </header>

    <section class="flex flex-col mt-8 items-center justify-center">

        <div class="p-2 bg-gradient-to-r from-blue-500 to-purple-500 rounded-lg">

            <div class="bg-white rounded-lg space-y-2 p-8">

                <h1 class="text-3xl font-bold text-center my-4">Registrar Usuario</h1>
                <hr>

                
                <form method="post" class="space-y-2">
                    {% csrf_token %}
                    
                    <!-- Campo de Usuario -->
                    <div>
                        <label for="{{ form.username.id_for_label }}" class="block text-lg font-medium text-gray-700">{{ form.username.label }}</label>
                        <div class="mt-2">
                            {{ form.username }}
                        </div>
                        {% if form.username.errors %}
                            <div class="text-red-500 text-sm mt-1">
                                {% for error in form.username.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Campo de Contraseña -->
                    <div>
                        <label for="{{ form.password1.id_for_label }}" class="block text-lg font-medium text-gray-700">{{ form.password1.label }}</label>
                        <div class="mt-2">
                            {{ form.password1 }}
                        </div>
                        {% if form.password1.errors %}
                            <div class="text-red-500 text-sm mt-1">
                                {% for error in form.password1.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Confirmar Contraseña -->
                    <div>
                        <label for="{{ form.password2.id_for_label }}" class="block text-lg font-medium text-gray-700">{{ form.password2.label }}</label>
                        <div class="mt-2">
                            {{ form.password2 }}
                        </div>
                        {% if form.password2.errors %}
                            <div class="text-red-500 text-sm mt-1">
                                {% for error in form.password2.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Campo Nombre Completo -->
                    <div>
                        <label for="{{ form.first_name.id_for_label }}" class="block text-lg font-medium text-gray-700">{{ form.first_name.label }}</label>
                        <div class="mt-2">
                            {{ form.first_name }}
                        </div>
                        {% if form.first_name.errors %}
                            <div class="text-red-500 text-sm mt-1">
                                {% for error in form.first_name.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Campo Teléfono -->
                    <div>
                        <label for="{{ form.phone.id_for_label }}" class="block text-lg font-medium text-gray-700">{{ form.phone.label }}</label>
                        <div class="mt-2">
                            {{ form.phone }}
                        </div>
                        {% if form.phone.errors %}
                            <div class="text-red-500 text-sm mt-1">
                                {% for error in form.phone.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Campo de Rol -->
                    <div>
                        <label class="block text-lg font-medium text-gray-700">{{ form.role.label }}</label>
                        <div class="mt-2">
                            {{ form.role }}
                        </div>
                        {% if form.role.errors %}
                            <div class="text-red-500 text-sm mt-1">
                                {% for error in form.role.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Botón de Envío -->
                    <button type="submit" class="w-full bg-gradient-to-r from-blue-500 to-purple-500 hover:bg-gradient-to-r hover:from-blue-700 hover:to-purple-700 text-white font-semibold py-3 px-4 rounded-lg transition duration-300 ease-in-out mt-6">
                        Crear Usuario
                    </button>
                </form>


                {% if messages %}
                <div class="w-full p-2 text-red-600 bg-gray-100 text-center">
                    {% for message in messages %}
                    <p class="text-sm">{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>



        </div>
    </section>

</body>

</html>