{% extends 'base.html' %}

{% block title %}ENTRADA{% endblock %}

{% block content %}

<h1 class="text-2xl font-semibold p-4 text-gray-800">ASISTENCIA / ENTRADA</h1>

<div class="mt-2 mb-4 mx-4 bg-white rounded-md shadow-lg p-6">

    <div class="flex justify-between items-center">
        <p class="text-md text-gray-700 mb-4">Tomar la fecha y hora de entrada de los inscritos</p>
        <form method="POST" id="formDni">
            {% csrf_token %}

            <!-- Campo DNI -->
            <div class="mb-4 flex justify-center items-center space-x-2">
                <label for="dni" class="block text-sm font-medium text-gray-700">DNI</label>
                <!-- Aquí se mejora el input -->
                <input type="text" name="dni" id="dni"
                    class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />

                {% if form.dni.errors %}
                    <div class="text-red-700">
                        <ul>
                            {% for error in form.dni.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            </div>

            <!-- Botón de submit -->
            {% comment %} <button id="btnEnviar" type="submit"
                class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Registrar Entrada
            </button> {% endcomment %}

        </form>

    </div>

    <hr class="mb-4 text-gray-400">

    <div class="mt-6">

    </div>

    <table class="w-full text-sm text-left mt-8">
        <thead class="text-sm font-semibold uppercase">
            <tr class="border-y-1">
                <th scope="col" class="px-6 py-3">Nº =  {{ asistenciaEntrada|length }} </th>
                <th scope="col" class="px-6 py-3">DNI</th>
                <th scope="col" class="px-6 py-3">Apellidos y Nombres</th>
            </tr>
        </thead>
        <tbody>
            {% for asistencia in asistenciaEntrada %}
            {% comment %} <tr class="hover:bg-gray-100 border-y-1 border-gray-400"> {% endcomment %}
            <tr class="hover:bg-gray-100 border-y-1 border-gray-400 {% if forloop.first %}bg-blue-300{% endif %}">
                <td class="px-6 py-4">{{ forloop.counter }}</td>
                <td class="px-6 py-4">{{ asistencia.usuario.dni }}</td>
                <td class="px-6 py-4">{{ asistencia.usuario.apellido_paterno }} {{ asistencia.usuario.apellido_materno }} {{ asistencia.usuario.nombres }} </td>
                <td class="px-6 py-4"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% block scripts %}
<script>
    
    // Hacer que el campo DNI siempre reciba el foco cuando la página se recarga
    document.getElementById("dni").focus();

    inputDni = document.getElementById("dni");
    let formulario = document.getElementById("formDni"); // Suponiendo que el formulario tiene id "formDni"

    // Verificar si el valor tiene 8 caracteres
    inputDni.addEventListener('input', function () {
        if (inputDni.value.length === 8) {
            console.log(inputDni.value);
            formulario.submit(); // Enviar el formulario automáticamente
        }
    });


</script>
{% endblock %}

{% endblock %}