{% extends 'base.html' %}

{% block title %}DASHBOARD{% endblock %}

{% block content %}

<h1 class="text-2xl font-semibold p-4">DASHBOARD</h1>

<div class="mt-2 mb-4 mx-4 bg-white rounded-md shadow-md">
    <p class="py-4 px-6 text-md">Reportes del congreso CIMAC 2025</p>
    <hr class="mb-4 text-gray-400">

    <div class="mt-6 px-6 pb-6">

        <h1 class="my-4 font-bold">REPORTE DE INSCRITOS Y VALIDADOS</h1>

        <!-- REPORTES INSCRITOS Y VALIDADOS -->
        <div class="flex justify-between space-x-4">

            <div
                class="flex flex-1 bg-blue-500 text-white p-4 rounded-md shadow-md items-center transition delay-150 duration-300 ease-in-out  hover:scale-105 ">

                <h1 class="text-5xl items-center m-2"> {{ inscritos_count }} </h1>

                <div class="p-2">
                    <h1 class="text-xl">INSCRITOS</h1>
                    <p class="text-gray-200">Personas inscritas al congreso</p>
                </div>

            </div>

            <div
                class="flex flex-1 bg-green-500 text-white p-4 rounded-md shadow-md items-center transition delay-150 duration-300 ease-in-out  hover:scale-105 ">

                <h1 class="text-5xl items-center m-2"> {{ inscritosValidados_count }} </h1>

                <div class="p-2">
                    <h1 class="text-xl">VALIDADOS</h1>
                    <p class="text-gray-200">Personas inscritas al congreso con el pago adecuado </p>
                </div>

            </div>

        </div>

        <!-- REPORTE DE ASISTENCIAS -->

        <h1 class="mt-8 mb-4 font-bold">REGISTRO DE ASISTENCIAS TOTAL</h1>

        <div class="my-4">

            <table class="w-full text-sm text-left">
                <thead class="text-sm font-semibold uppercase">
                    <tr class="border-y-1">
                        <th scope="col" class="px-6 py-3">Nº</th>
                        <th scope="col" class="px-6 py-3">Fecha</th>
                        <th scope="col" class="px-6 py-3">Cantidad de Entradas</th>
                        <th scope="col" class="px-6 py-3">Cantidad de Salidas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asistencia in asistencias %}
                    <tr class="hover:bg-gray-100 border-y-1 border-gray-400">
                        <td class="px-6 py-4">{{ forloop.counter }}</td>
                        <td class="px-6 py-4">{{ asistencia.fecha }}</td>
                        <td class="px-6 py-4">{{ asistencia.entradas_count }}</td>
                        <td class="px-6 py-4">{{ asistencia.salidas_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <h1 class="mt-8 mb-4 font-bold text-gray-400">REGISTRO DE ASISTENCIAS LUGAR A</h1>
        
        <div class="my-4">

            <table class="w-full text-sm text-left">
                <thead class="text-sm font-semibold uppercase">
                    <tr class="border-y-1 border-gray-400">
                        <th scope="col" class="px-6 py-3 text-gray-400">Nº</th>
                        <th scope="col" class="px-6 py-3 text-gray-400">Fecha</th>
                        <th scope="col" class="px-6 py-3 text-gray-400">Cantidad de Entradas</th>
                        <th scope="col" class="px-6 py-3 text-gray-400">Cantidad de Salidas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asistencia in ubicacion_a %}
                    <tr class="hover:bg-gray-100 border-y-1 border-gray-400">
                        <td class="px-6 py-4 text-gray-400">{{ forloop.counter }}</td>
                        <td class="px-6 py-4 text-gray-400">{{ asistencia.fecha }}</td>
                        <td class="px-6 py-4 text-gray-400">{{ asistencia.entradas_count }}</td>
                        <td class="px-6 py-4 text-gray-400">{{ asistencia.salidas_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <h1 class="mt-8 mb-4 font-bold text-gray-400">REGISTRO DE ASISTENCIAS LUGAR B</h1>
        
        <div class="my-4">

            <table class="w-full text-sm text-left">
                <thead class="text-sm font-semibold uppercase">
                    <tr class="border-y-1 border-gray-400">
                        <th scope="col" class="px-6 py-3 text-gray-400">Nº</th>
                        <th scope="col" class="px-6 py-3 text-gray-400">Fecha</th>
                        <th scope="col" class="px-6 py-3 text-gray-400">Cantidad de Entradas</th>
                        <th scope="col" class="px-6 py-3 text-gray-400">Cantidad de Salidas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asistencia in ubicacion_b %}
                    <tr class="hover:bg-gray-100 border-y-1 border-gray-400">
                        <td class="px-6 py-4 text-gray-400">{{ forloop.counter }}</td>
                        <td class="px-6 py-4 text-gray-400">{{ asistencia.fecha }}</td>
                        <td class="px-6 py-4 text-gray-400">{{ asistencia.entradas_count }}</td>
                        <td class="px-6 py-4 text-gray-400">{{ asistencia.salidas_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <h1 class="mt-8 mb-4 font-bold text-gray-400">REGISTRO DE ASISTENCIAS LUGAR C</h1>
        
        <div class="my-4">

            <table class="w-full text-sm text-left">
                <thead class="text-sm font-semibold uppercase">
                    <tr class="border-y-1 border-gray-400">
                        <th scope="col" class="px-6 py-3 text-gray-400">Nº</th>
                        <th scope="col" class="px-6 py-3 text-gray-400">Fecha</th>
                        <th scope="col" class="px-6 py-3 text-gray-400">Cantidad de Entradas</th>
                        <th scope="col" class="px-6 py-3 text-gray-400">Cantidad de Salidas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asistencia in ubicacion_c %}
                    <tr class="hover:bg-gray-100 border-y-1 border-gray-400">
                        <td class="px-6 py-4 text-gray-400">{{ forloop.counter }}</td>
                        <td class="px-6 py-4 text-gray-400">{{ asistencia.fecha }}</td>
                        <td class="px-6 py-4 text-gray-400">{{ asistencia.entradas_count }}</td>
                        <td class="px-6 py-4 text-gray-400">{{ asistencia.salidas_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <h1 class="mt-8 mb-4 font-bold text-gray-400">REGISTRO DE ASISTENCIAS LUGAR D</h1>
        
        <div class="my-4">

            <table class="w-full text-sm text-left">
                <thead class="text-sm font-semibold uppercase">
                    <tr class="border-y-1 border-gray-400">
                        <th scope="col" class="px-6 py-3 text-gray-400">Nº</th>
                        <th scope="col" class="px-6 py-3 text-gray-400">Fecha</th>
                        <th scope="col" class="px-6 py-3 text-gray-400">Cantidad de Entradas</th>
                        <th scope="col" class="px-6 py-3 text-gray-400">Cantidad de Salidas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asistencia in ubicacion_d %}
                    <tr class="hover:bg-gray-100 border-y-1 border-gray-400">
                        <td class="px-6 py-4 text-gray-400">{{ forloop.counter }}</td>
                        <td class="px-6 py-4 text-gray-400">{{ asistencia.fecha }}</td>
                        <td class="px-6 py-4 text-gray-400">{{ asistencia.entradas_count }}</td>
                        <td class="px-6 py-4 text-gray-400">{{ asistencia.salidas_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>






    </div>

</div>

{% endblock %}