{% extends 'base.html' %}

{% block title %}INSCRIPCIONES{% endblock %}

{% block content %}

<h1 class="text-2xl font-semibold p-4">INSCRIPCIONES</h1>

<div class="mt-2 mb-4 mx-4 bg-white rounded-md shadow-md">
    <div class="flex justify-between mx-6">
        <p class="py-4 text-md">Lista de personas inscritas en el XII CIMAC</p>
        <form method="get" action="{% url 'excel-inscritos-validados' %}">
            <button class="border bg-blue-500 text-sm text-white p-2 m-2 rounded-lg cursor-pointer hover:bg-blue-600">EXCEL INSCRITOS VALIDADOS</button>
        </form>
    </div>
    <hr class="mb-4 text-gray-400">

    <div class="mt-6 px-6 pb-6">
        <table class="w-full text-sm text-left">
            <thead class="text-sm font-semibold uppercase">
                <tr class="border-y-1">
                    <th scope="col" class="px-6 py-3">Nº</th>
                    <th scope="col" class="px-6 py-3">DNI</th>
                    <th scope="col" class="px-6 py-3">Apellidos y Nombres</th>
                    <th scope="col" class="px-6 py-3">Celular</th>
                    <th scope="col" class="px-6 py-3">Participante</th>
                    <th scope="col" class="px-6 py-3">Doc. Acreditivo</th>
                    <th scope="col" class="px-6 py-3">Voucher de Pago</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in inscritos %}
                <tr class="hover:bg-gray-100 border-y-1 border-gray-400">
                    <td class="px-6 py-4">{{ forloop.counter }}</td>
                    <td class="px-6 py-4">{{ registro.dni }}</td>
                    <td class="px-6 py-4">{{ registro.apellido_paterno }} {{ registro.apellido_materno }}, {{ registro.nombres }}</td>
                    <td class="px-6 py-4">{{ registro.celular }}</td>
                    <td class="px-6 py-4">{{ registro.tipo_participante }}</td>

                    <td class="px-6 py-4 text-center">
                        {% if registro.doc_acreditivo %}
                        <!-- Botón para abrir el modal con el archivo PDF -->
                            <button class="font-medium bg-blue-500 p-2 rounded-md hover:bg-blue-600 text-white cursor-pointer" onclick="openModalDocAcreditivo('{{ registro.doc_acreditivo.url }}')">
                                Ver Doc
                            </button>
                        {% else %}
                        <!-- Si no hay archivo, mostramos un mensaje o dejamos el campo vacío -->
                        <span>No disponible</span>
                        {% endif %}
                    </td>

                    <td class="px-6 py-4 flex items-center justify-center">
                        {% if registro.voucher_pago %}
                        <!-- Botón para abrir el modal con el archivo PDF -->
                            {% if registro.validado == False %}
                                <button class="font-medium bg-blue-500 p-2 rounded-md hover:bg-blue-600 text-white" onclick="openModal('{{ registro.voucher_pago.url }}', '{{ registro.id }}', '{{ registro.validado }}')">
                                    Ver Voucher
                                </button>
                            {% else %} <!-- validado = verde -->
                                <button class="font-medium bg-green-500 p-2 rounded-md hover:bg-green-600 text-white" onclick="openModal('{{ registro.voucher_pago.url }}', '{{ registro.id }}', '{{ registro.validado }}')">
                                    Ver Voucher
                                </button>
                            {% endif %}                        
                        {% else %}
                        <!-- Si no hay archivo, mostramos un mensaje o dejamos el campo vacío -->
                        <span>No disponible</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal (oculto por defecto) -->
<div id="myModal" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center hidden">
    <div class="bg-white p-6 rounded-lg w-3/4 md:w-1/2">

        <div class="flex justify-between items-center border-b-2 pb-1">
            <h1>Imagen subida</h1>
            <button onclick="closeModal()" class="font-bold text-xl text-white cursor-pointer bg-red-500 hover:bg-red-600 py-1 px-2 rounded-md">
                X
            </button>
        </div>

        <div class="flex h-100 items-center justify-center">
            <img id="mostrarImg" class="h-full p-4">
        </div>

        <div class="w-full text-end mt-4 space-x-2 bg-gray-200 p-2">
            <form method="POST" id="validarForm" action="">
                {% csrf_token %}
                <!-- Campo oculto para el id del registro -->
                <input type="hidden" name="id" id="registroId">

                <button id="btnValidar" type="submit" class="bg-blue-500 p-2 rounded-md text-white hover:bg-blue-600 cursor-pointer">
                </button>
            </form>
        </div>
    </div>
</div>

<div id="myModalDocAcreditivo" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center hidden">
    <div class="bg-white p-6 rounded-lg w-3/4 md:w-1/2">

        <div class="flex justify-between items-center border-b-2 pb-1">
            <h1>Imagen subida</h1>
            <button onclick="closeModalDocAcreditivo()" class="font-bold text-xl text-white cursor-pointer bg-red-500 hover:bg-red-600 py-1 px-2 rounded-md">
                X
            </button>
        </div>

        <div class="flex h-100 items-center justify-center">
            <img id="mostrarImgDocAcreditivo" class="h-full p-4">
        </div>
    </div>
</div>

<script>

    // Función para abrir el modal y mostrar la imagen de Voucher
    function openModalDocAcreditivo(url) {
        // console.log(url, id, validado);
        const modal = document.getElementById('myModalDocAcreditivo');
        const img = document.getElementById('mostrarImgDocAcreditivo');
        const fullUrl = window.location.origin + url;  // Convierte la URL en absoluta
        img.src = fullUrl;
        img.alt = url;

        modal.classList.remove('hidden');
    }

    function closeModalDocAcreditivo() {
        const modal = document.getElementById('myModalDocAcreditivo');
        const img = document.getElementById('mostrarImgDocAcreditivo');
        img.src = '';
        modal.classList.add('hidden');
    }

    // Función para abrir el modal y mostrar la imagen de Voucher
    function openModal(url, id, validado) {
        // console.log(url, id, validado);
        const modal = document.getElementById('myModal');
        const img = document.getElementById('mostrarImg');
        const fullUrl = window.location.origin + url;  // Convierte la URL en absoluta
        img.src = fullUrl;
        img.alt = url;

        const btnValidar = document.getElementById("btnValidar");
        if (validado == "True") {
            btnValidar.innerHTML = "Desvalidar";
        } else {
            btnValidar.innerHTML = "Validar";
        }

        // Establece el id del registro en el campo oculto
        document.getElementById('registroId').value = id;

        // Establece la acción del formulario a la URL correcta
        document.getElementById('validarForm').action = "/administrador/validar-inscrito/" + id + "/";

        modal.classList.remove('hidden');
    }

    // Función para cerrar el modal
    function closeModal() {
        const modal = document.getElementById('myModal');
        const img = document.getElementById('mostrarImg');
        img.src = '';
        modal.classList.add('hidden');
    }
</script>

{% endblock %}
