<!-- myapp/templates/login.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>

<body>

    <header
        class="flex items-center justify-between w-full text-black md:px-20 md:py-4 z-10 text-white px-4 py-4 backdrop-filter backdrop-blur-lg bg-black/50 bg-opacity-60 ">
        <div class="flex items-end space-x-1 justify-center ">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Logo_UNAP.png?National_University_of_the_Altiplano1139965787"
                alt="" class="w-15">
            <h1 class="border-l pl-2 md:text-md sm:text-sm">
                Universidad <br>
                Nacional del<br>
                Altiplano de Puno
            </h1>
        </div>

        <nav class="flex items-center md:text-md sm:text-sm">
            <a href="/" class="p-2 hover:bg-black/50 cursor-pointer">INICIO</a>
        </nav>
    </header>

    <section class="flex flex-col mt-20 items-center justify-center">

        <div class="p-2 bg-gradient-to-r from-blue-500 to-purple-500 rounded-lg">

            <div class="p-1 bg-white rounded-lg space-y-2 p-8">

                <h1 class="text-3xl font-bold text-center mt-8">Iniciar sesión</h1>

                <form method="post" class="mb-4 p-2">
                    {% csrf_token %}

                    <div class="space-y-4">
                        {% for field in form %}
                        <div class="space-y-2">
                            <label for="{{ field.id_for_label }}" class="text-lg font-medium">{{ field.label }}</label>
                            <div class="py-1">
                                <!-- {{ field }} -->
                                {% if field.label == 'Password' %}
                                    <input type="password" name="{{ field.name }}" id="{{ field.id_for_label }}"
                                        placeholder="{{ field.label }}"
                                        class="w-full px-4 py-2 border-2 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                {% else %}
                                    <input type="text" name="{{ field.name }}" id="{{ field.id_for_label }}"
                                        placeholder="{{ field.label }}"
                                        class="w-full px-4 py-2 border-2 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>


                    <button
                        class="w-full bg-gradient-to-r from-blue-500 to-purple-500 hover:bg-gradient-to-r hover:from-blue-700 hover:to-purple-700 text-white font-semibold py-3 px-4 rounded-lg transition duration-300 ease-in-out mt-4 cursor-pointer"
                        type="submit">
                        Iniciar sesión
                    </button>

                </form>

                {% if messages %}
                <div class="w-full p-2 text-red-600">
                    {% for message in messages %}
                    <p class="text-sm">{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>



        </div>
    </section>

</body>

</html>